/*==========================
    SISTEMA DE CONTENEDORES
==========================*/

:root{

    --max-width:1280px;

    --space-xs:8px;
    --space-sm:16px;
    --space-md:24px;
    --space-lg:40px;
    --space-xl:70px;

    --radius:16px;

}

.site-wrapper{

    width:100%;

}

.container{

    width:100%;

    max-width:var(--max-width);

    margin:auto;

    padding:0 20px;

    box-sizing:border-box;

}